<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link rel="stylesheet" name="theme" href="">
</head>

<body>
    <div id="app"></div>
	<div class="lock-screen-back" id="lock_screen_back"></div>
	<!-- 头条cdn https://cdn.bytedance.com -->
	<script src="https://s1.pstatp.com/cdn/expire-1-M/vue/2.5.13/vue.min.js" type="application/javascript"></script>
	<script src="https://s1.pstatp.com/cdn/expire-1-M/vue-router/3.0.2/vue-router.min.js" type="application/javascript"></script>
	<script src="https://s2.pstatp.com/cdn/expire-1-M/vuex/3.0.1/vuex.min.js" type="application/javascript"></script>
	<script src="https://s1.pstatp.com/cdn/expire-1-M/iview/2.8.0-rc.5/iview.min.js" type="application/javascript"></script>
	<script src="https://s3.pstatp.com/cdn/expire-1-M/xlsx/0.11.19/xlsx.full.min.js" type="application/javascript"></script>
	<!-- <script src="https://s1.pstatp.com/cdn/expire-1-M/xlsx/0.11.19/xlsx.min.js" type="application/javascript"></script> -->
	<!-- <script src="https://s2.pstatp.com/cdn/expire-1-M/tinymce/4.7.4/tinymce.min.js" type="application/javascript"></script> -->
	<script src="https://s1.pstatp.com/cdn/expire-1-M/echarts/3.8.5/echarts.min.js" type="application/javascript"></script>
	<!-- boot cdn https://cdn.bootcss.com -->
	<!-- <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script> -->
	<!-- <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script> -->
	<!-- <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script> -->
	<!-- <script src="https://cdn.bootcss.com/iview/2.8.0-rc.5/iview.min.js"></script> -->
	<!-- <script src="https://cdn.bootcss.com/xlsx/0.11.19/xlsx.min.js"></script> -->
	<!-- <script src="https://cdn.bootcss.com/tinymce/4.7.4/tinymce.min.js"></script> -->
	<!-- <script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script> -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
	<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[2] %>"></script>
	<!-- 垃圾腾讯的地图api入口 -->
	<script src="https://map.qq.com/api/js?v=2.exp&key=GMDBZ-WEI6J-7DXFJ-KQ65E-OSKN3-XLBAJ"></script>
</body>

</html>
